/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

/*
   element selectors
*/

html{
   scroll-behavior: smooth;
}

h2{
   font-size: 1.3em;
   line-height: 1.2em;
   margin: 0.5em 0;
}

h3{
   font-size: 1.15em;
   line-height: 1.2em;
   margin-top: 0.4em;
}

p{
   line-height: 1.2em;
   margin-bottom: 1em;
}

u{
   text-decoration: underline;
}

ul{
   list-style-type: circle;
   padding-left: 1.5em;
   line-height: 1.2em;
}

/*
   id selectors
*/

#contact_me, #logo{
   position: fixed;
   top: 0.3em;
   right: 0.3em;
   width: 10vw;
   z-index: 1;
   max-width: 4em;
}

#logo{
   left: 0.3em;
}

#education ul, #experience ul{
   margin-bottom: 0.7em;   
}

#education h3, #experience h3{
   margin: 0;
}

#header{
   text-align: center;
}

#header_name{
   display: inline-block;
   margin: 0 auto;
   margin-top: 1.5em;
   font-size: 4em;
   font-family: Trebuchet MS;
   margin-bottom: 1.3em;
}

/*
   class selectors
*/

.article_content{
   text-align: left;
   font-size: 1em;
   margin: 0 15%;
}

input ~ .article_content, input ~ .sub_category {
   max-height: 0;
   overflow: hidden;
   transform: scaleY(0); 
}

.main_category, .sub_category{
   text-align: center;
}

.main_category label {
    font-size: 2em;
    cursor: pointer;
}

.main_dot{
   width: 0.4em;
   display: block;
   margin: 1em auto;
   opacity: 0.7;
}

.row_of_pics{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.row_of_pics img{
   margin: 1em 0;
}

.sub_category label{
   font-size: 1.5em;
   cursor: pointer;
}

.sub_category p, ul{
   text-align: left;
   font-size: 1em;
}

.sub_dot{
   width: 0.3em;
   display: block;
   margin: 1em auto;
   opacity: 0.7;
}

/*
   others
*/

input {
    display: none;
}

input:checked ~ .article_content, input:checked ~ .sub_category{
   transform-origin: top;
   transition: transform 0.4s ease-out;
   transform: scaleY(1); 
   max-height: 100%;
}

/*
   opens projects but only if portfolio
   is checked

.sub_category>.article_content:target{
   transform-origin: top;
   transition: transform 0.4s ease-out;
   transform: scaleY(1); 
   max-height: 100%;
}
*/

/*
   have to comment this out because
   it messes with the layout for some
   reason

input ~ .article_content, input ~ .sub_category{
   overflow: hidden;
   transform-origin: top;
   transition: transform 0.4s ease-out;
   transform: scaleY(0); 
   max-height: 0;
}
*/

